/*Mouse*/

body {
    cursor: url(../images/botoes/lightCursor.ani), default;
}

.clicavel {
    cursor: pointer;
}

/*Estilização*/

.fundoBatalha {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    opacity: 0, 9;
}

.ahmano {
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    text-shadow: #fff 1px 1px 3px;
    font-size: 40px;
}

.letraBatalhaGosma {
    color: #F207E3;
    font-family: 'Creepster', cursive;
    text-shadow: #F207E3 1px 1px 3px;
    font-size: 60px;
}

.letraBatalhaSwamer {
    color: #F207E3;
    font-family: 'Creepster', cursive;
    text-shadow: #F207E3 1px 1px 3px;
    font-size: 60px;
}

.letraBatalhaGosma {
    color: #F207E3;
    font-family: 'Creepster', cursive;
    text-shadow: #F207E3 1px 1px 3px;
    font-size: 60px;
}

.textoMenuBatalha {
    color: #3F3F40;
}

.titulo {
    width: 300px;
}

.imgIndex {
    width: 800px;
}

.shadowfilter {
    -webkit-filter: drop-shadow(12px 1px 30px rgb(196, 93, 255));
    filter: drop-shadow(1px 1px 20px rgb(164, 27, 255));
}

.fonteLabel {
    font-family: 'Press Start 2P', cursive;
}

.fundoBackground {
    box-shadow: 0 30px 100px 20px #0a0a0a;
    background-image: url("../images/brickgrey.png");
    border-radius: 10px;
    padding: 10px;
}

.fundobranco {
    box-shadow: 0 30px 100px 10px #0a0a0a;
    background-color: rgb(41, 41, 54);
    border-radius: 10px;
    padding: 10px;
}

.fundobranco2 {
    box-shadow: 0 0 100px 0 #0a0a0a;
    border-radius: 10px;
    padding: 10px;
    background-image: url("../images/fundoDiv.jpg");
    /* background-color: rgb(43, 43, 44); */
    /* opacity: 0.9; */
}

h4 {
    color: #3F3F40;
    font-family: 'Press Start 2P', cursive;
}

/* 
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #EC00FF;
   border-top: 3px solid #EC00FF;   
  } */

.character {
    height: 10%;
}

.containerBranco {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    opacity: 0.9;
}

h5 {
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation: fadeIn 2s ease-in-out;
    -moz-animation: fadeIn 2s ease-in-out;
    -o-animation: fadeIn 2s ease-in-out;
    animation: fadeIn 2s ease-in-out;
}

.fadeInPages {
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}

.phrase {
    color: #fff;
    font-family: 'Cinzel', serif;
    font-size: 20px;
}

.profileBTxt {
    font-size: 18px;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}

.profileTxt {
    font-size: 15px;
    font-family: 'Jomolhari', serif;
    color: rgb(255, 243, 211);
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgb(255, 255, 255);
}

.minhaconta {
    color: #fff;
    font-family: 'Playfair Display', cursive;
    font-size: 25px;
}

.minhacontaNome {
    color: rgb(255, 243, 211);
    font-family: 'Jomolhari', serif;
    font-size: 30px;
}

.profileImage {
    border: 1px rgb(255, 243, 211);
}

.battletxt {
    margin-left: 20px;
    color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

.battleback {
    background-color: #290333;
}

.bodyWiki {
    margin: auto;
    height: 380px;
    margin: 50px;
    margin-left: 215px;
}

.blockWiki {
    display: table;
}

.blockWiki2 {
    width: 930px;
    margin-left: 100px;
    height: 400px;
    margin-bottom: 100px;
}

.textPosition {
    margin-top: 50px;
}

.contentsWiki {
    display: table-cell;
    float: left;
}

/*Glow Effect*/

.textWiki {
    margin-top: 50px;
    display: table-cell;
    float: left;
    width: 300px;
    margin-left: 10px;
    text-align: center;
}

.backgroundWiki {
    margin-top: 75px;
}

.fontNavNav {
    font-family: 'Martel', serif;
}

.wordColor {
    color: #F2AA1D;
}

.fixedBody {
    background-attachment: fixed;
    background-size: 100%;
}

/*NavBar*/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* This class is added on scroll */

.fixed {
    position: fixed;
    top: 0;
    height: 70px;
    z-index: 1;
}

body {
    color: #fff;
    font-family: 'open-sans-bold', AvenirNext-Medium, sans-serif;
    font-size: 18px;
    text-align: center;
}

/* Navigation Settings */

nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #fff;
}

nav li {
    display: inline-block;
    padding: 24px 10px;
}

nav li a {
    color: #757575;
    text-transform: uppercase;
}

section {
    height: 100vh;
}

/* Screens Settings */

#screen1 {
    background: #43b29d;
}

#screen1 p {
    padding-top: 200px;
}

#screen2 {
    background: #efc94d;
}

#screen3 {
    background: #e1793d;
}

@media only screen and (max-width: 520px) {
    nav li {
        padding: 24px 4px;
    }
    nav li a {
        font-size: 14px;
    }
}

/*Quando passa por cima*/

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #fff;
}

a {
    color: rgb(255, 255, 255);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

a:hover {
    color: #8500dd;
    text-shadow: 0px 0px 30px #dc6efd;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.proximo {
    color: #d9dd00;
    text-shadow: 3px 3px 40px #fbff00;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

html, * {
    /** Não importa. Reseta os estilos **/
    margin: 0;
    padding: 0;
}

body {
    /** Não importa **/
    font-family: 'calibri light', calibri, arial, sans-serif;
}

div.body-content {
    /** Essa margem vai evitar que o conteudo fique por baixo do rodapé **/
    margin-bottom: 40px;
}

footer.fixar-rodape {
    background: #EC00FF;
    border-top: 5px solid #EC00FF;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
}

.trailer {
    float: left;
    width: 644px;
    height: 361px;
    margin-left: 5px;
    margin-top: 8px;
    background: url('images/trailer.jpg');
    color: #fff;
    margin-right: 15px;
}
.fading-image {
    opacity: .5;
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
}

iframe{
    border-radius:4px;
    box-shadow: 30px 30px 20px 0px #0a0a0a;
}